.header {
    min-height: 100px;
    padding-top: 30px;
    border-bottom: 1px solid $line-color;
    position: relative;
    &__hamburger {
        display: none;
        flex-direction: column;
        align-items: flex-end;
        row-gap: 6px;
        position: absolute;
        top: 30px;
        right: 0;
        width: 45px;
        cursor: pointer;
        &.active &-line:nth-child(2){
            width: 100%;
        }
        &-line {
            width: 40px;
            height: 4px;
            background-color: white;
        }
    }
    &__navigation {
        padding: 0 150px;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;
    }
    &__logo {
        fill: white;
        width: 60px;
        height: 60px;
        justify-self: center;
        align-self: start;
    }
    &__list{
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-self: center;
    }
    &__link {
        font-size: 18px;
        font-weight: 600;
        line-height: 130%;
    }
}